<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(MARKETING_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Jan Kuri &lt;jkuri88@gmail.com&gt;</string>
	<key>LSUIElement</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/mattwebhub/Reframed/releases/download/appcast/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fbTkPksA1K4eUhGRCvIscQ7QGdUy3tstkNtWy/NstdY=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Reframed needs screen recording access to capture your screen.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Reframed needs microphone access to record audio with your screen capture.</string>
	<key>NSCameraUsageDescription</key>
	<string>Reframed needs camera access to record webcam video alongside your screen capture.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Reframed Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>eu.jankuri.reframed.project</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Reframed Project</string>
			<key>UTTypeIdentifier</key>
			<string>eu.jankuri.reframed.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>frm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
